{{ form_start(form, {'attr': {'class': 'flex flex-col gap-y-20'}}) }}
    <div class="flex gap-x-20">
        {{ form_widget(form.name) }}
        {{ form_widget(form.country) }}
    </div>
    <button class="bg-green border-1px border-black font-commune text-30">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
