<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="flex justify-between items-center px-container">
            <a href="{{ path('app_home') }}"><img src="{{ asset('images/svg/logo.svg') }}" alt=""></a>
            <nav>
                <ul class="flex gap-[40px]">
                    {# <li><input id="research-input" type="text" class="rounded-full border-1px border-blue px-15 placeholder:text-blue focus:outline-none text-blue" placeholder="un tag, une ville..."></li> #}
                    <li><a href="{{ path('app_place_index') }}">toutes nos adresses</a></li>
                    <li><a href="{{ path('app_place_best') }}">la crème de la crème</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('app_profile') }}">carré vip</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">connexion</a></li>
                    {% endif %}
                    

                </ul> 
            </nav>
        </header>
        <main class="mb-130">
            {% block body %}{% endblock %}
        </main>
        <footer class="py-130 bg-black flex justify-center">
            <div class="w-8/12 flex text-white text-20 gap-x-100">
                <div class="w-full"><img src="{{ asset('images/svg/logo-white.svg') }}" alt=""></div>
                <div class="w-full">
                    <ul>
                        <li>la crème de la crème</li>
                        <li>carré vip</li>
                    </ul>
                </div>
                <div class="w-full">
                    <ul>
                        <li>notre concept</li>
                        <li>faq</li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
